* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "GT America Expanded Bold";
    border-radius: 1rem;
}
@font-face {
    font-family: "GT America Expanded Bold";
    src: url(fonts/gtFont/gtAmerica.ttf);
    src: url(fonts/gtFont/22b4c73e6141de7c9937f42cb58bdb4b.eot);
    src: url(fonts/tFont/22b4c73e6141de7c9937f42cb58bdb4b.svg);
    src: url(fonts/gtFont/22b4c73e6141de7c9937f42cb58bdb4b.woff);
    src: url(fonts/gtFont/22b4c73e6141de7c9937f42cb58bdb4b.woff2);
}
@font-face {
    font-family: "Montserrat Bold";
    src: url(fonts/Montserrat-Bold.otf);
}
:root {
    --desk-bp: 1124px;
    --nav-announce-height: 0px;
    --color-primary: #f4f4f4;
    --color-primary-trans: hsla(0,0%,95.7%,0.8);
    --color-primary-shadow-dark: #cfcfcf;
    --color-primary-shadow-light: #fff;
    --color-primary-grad-start: #dcdcdc;
    --color-primary-grad-end: #fff;
    --color-black-shadow-dark: rgba(1,0,31,0.2);
    --color-black-shadow-light: rgba(1,0,31,0.1);
    --color-deepblack: #1a1a1a;
    --color-deepwhite: #fff;
    --color-offwhite: #f4f4f4;
    --color-matteblack: #4d4d4d;
    --color-matteblack-trans: rgba(77,77,77,0.2);
    --color-matteblack-opac60: rgba(77,77,77,0.6);
    --color-mattegrey: #696969;
    --color-mattegrey-30: hsla(0,0%,41.2%,0.3);
    --color-pastelgreen: #48e471;
    --color-pastelgreen-shadow: rgba(137,226,161,0.8);
    --color-pastelred: #ff6565;
    --color-pastelred-shadow: hsla(0,100%,70%,0.8);
    --color-pastelred-shadow-40: hsla(0,100%,70%,0.4);
    --color-comingsoon: #ff8100;
    --color-comingsoon-shadow-40: rgba(255,128,0,0.4);
    --color-finalsale: #5d4aff;
    --color-finalsale-shadow-40: rgba(94,77,255,0.4);
    --color-lowstock: #cf0;
    --color-lowstock-shadow-40: rgba(90,112,0,0.4);
}
img {
    width: 100%;
}
/* *************** MOBILE STYLING *************** */
body {
    background: var(--color-offwhite);
}
main {
    padding: 2.5rem 1.25rem 2rem 1.25rem;
}
ul {
    list-style: none;
}
/* ***** HEADER STYLES ***** */
header {
    background: var(--color-offwhite);
    box-shadow: 0px 1px 10px var(--color-primary-shadow-dark);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0.75rem 1.5rem 1.5rem 1.5rem;
}
.alerts {
    text-align: center;
    font-size: 0.6rem;
    padding-bottom: 2rem;
}
.alerts p {
    font-family: "Montserrat Bold";
    color: var(--color-mattegrey);
}
nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    color: var(--color-matteblack);
    font-size: 1rem;
}
.mobileNavigation ul {
    display: flex;
}
.mobileNavigation li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
/* TEMPORARY ICON STYLE */
.mobileNavIcon {
    height: 1.2rem;
    width: 1.2rem;
    background: var(--color-matteblack) ;
}

/* ***** OUR FAVOURITES STYLES ***** */
.ourFavourites {
    height: 60vh;
    width: 100%;
    position: relative;
}
.ourFavouritesImages {
    position: relative;
}
.sectionInfoOverlays {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--color-deepwhite);
    width: auto;
}
.sectionInfoOverlays h2 {
    width: 9ch;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}
.sectionButton {
    color: var(--color-deepwhite);
    border: none;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}
.shopWomen , .shopMen {
    background-color: rgba(255, 205, 171, 0.5);
    backdrop-filter: blur(5px);
    display: inline-block;
    padding: 0.75rem;
}