* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
}
@font-face {
    font-family: "GT America Expanded Bold";
    src: url(fonts/gtFont/gtAmerica.ttf);
    src: url(fonts/gtFont/22b4c73e6141de7c9937f42cb58bdb4b.eot);
    src: url(fonts/tFont/22b4c73e6141de7c9937f42cb58bdb4b.svg);
    src: url(fonts/gtFont/22b4c73e6141de7c9937f42cb58bdb4b.woff);
    src: url(fonts/gtFont/22b4c73e6141de7c9937f42cb58bdb4b.woff2);
}
@font-face {
    font-family: "Montserrat Bold";
    src: url(fonts/Montserrat-Bold.otf);
}
:root {
    --desk-bp: 1124px;
    --nav-announce-height: 0px;
    --color-primary: #f4f4f4;
    --color-primary-trans: hsla(0,0%,95.7%,0.8);
    --color-primary-shadow-dark: #cfcfcf;
    --color-primary-shadow-light: #fff;
    --color-primary-grad-start: #dcdcdc;
    --color-primary-grad-end: #fff;
    --color-black-shadow-dark: rgba(1,0,31,0.2);
    --color-black-shadow-light: rgba(1,0,31,0.1);
    --color-deepblack: #1a1a1a;
    --color-deepwhite: #fff;
    --color-offwhite: #f4f4f4;
    --color-matteblack: #4d4d4d;
    --color-matteblack-trans: rgba(77,77,77,0.2);
    --color-matteblack-opac60: rgba(77,77,77,0.6);
    --color-mattegrey: #696969;
    --color-mattegrey-30: hsla(0,0%,41.2%,0.3);
    --color-pastelgreen: #48e471;
    --color-pastelgreen-shadow: rgba(137,226,161,0.8);
    --color-pastelred: #ff6565;
    --color-pastelred-shadow: hsla(0,100%,70%,0.8);
    --color-pastelred-shadow-40: hsla(0,100%,70%,0.4);
    --color-comingsoon: #ff8100;
    --color-comingsoon-shadow-40: rgba(255,128,0,0.4);
    --color-finalsale: #5d4aff;
    --color-finalsale-shadow-40: rgba(94,77,255,0.4);
    --color-lowstock: #cf0;
    --color-lowstock-shadow-40: rgba(90,112,0,0.4);
}
img {
    width: 100%;
}
/* *************** MOBILE STYLING *************** */
body {
    background: var(--color-offwhite);
}
main {
    padding: 2.5rem 1.25rem 2rem 1.25rem;
}
ul {
    list-style: none;
}
h1, h2 {
    font-family: "GT America Expanded Bold";
}
button {
    border: none;
}
section {
    margin-bottom: 2rem;
}
/* ***** HEADER STYLES ***** */
header {
    background: var(--color-offwhite);
    box-shadow: 0px 1px 10px var(--color-primary-shadow-dark);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0.75rem 1.5rem 1.5rem 1.5rem;
}
.alerts {
    text-align: center;
    font-size: 0.6rem;
    padding-bottom: 2rem;
}
.alerts p {
    font-family: "Montserrat Bold";
    color: var(--color-mattegrey);
}
nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: "GT America Expanded Bold";
    color: var(--color-matteblack);
    font-size: 1rem;
}
.mobileNavigation ul {
    display: flex;
}
.mobileNavigation li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
/* TEMPORARY ICON STYLE */
.mobileNavIcon {
    height: 1.2rem;
    width: 1.2rem;
    background: var(--color-matteblack) ;
}

/* ***** SECTIONS WITH TEXT ON IMAGES / OUR FAVOURITES STYLES ***** */
.overlayBoxType {
    height: 60vh;
    width: 100%;
    position: relative;
    font-family: "GT America Expanded Bold";
}
.sectionOverlay {
    position: relative;
    margin-bottom: 1rem;
}
.sectionInfoOverlays {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--color-deepwhite);
    width: auto;
}
.sectionInfoOverlays h2 {
    width: 9ch;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}
.overlayBio {
    font-family: "Montserrat Bold";
    font-size: 0.75rem;
}
.sectionButton {
    color: var(--color-deepwhite);
    border: none;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}
.sectionInfoOverlays a p {
    backdrop-filter: blur(5px);
    display: inline-block;
    padding: 0.75rem;
}
.shopWomen , .shopMen {
    background-color: rgba(255, 205, 171, 0.5);
}

/* ***** CAROUSEL SECTION UMBRELLA STYLES ***** */
.carouselSection h1 {
    color: var(--color-matteblack);
    margin-bottom: 1.5rem;
    position: relative;
}
.carouselPart {
    display: flex;
    overflow-x: visible;
    position: relative;
}
.carouselBox {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-right: 2.5rem;
}
.carouselImage {
    width: 100%;
}
.carouselInformation {
    width: 100%;
    box-shadow: 5px 5px 10px var(--color-primary-shadow-dark);
    padding: 1rem 1.25rem;
    font-family: "Montserrat Bold";
}
.colourBox, .priceStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.25rem;
    font-size: 0.6rem;
}
.itemTitle {
    font-size: 0.75rem;
    color: var(--color-matteblack);
}
.itemColour {
    color: var(--color-mattegrey);
}
.itemColourAmount {
    color: var(--color-matteblack);
    background-color: var(--color-matteblack-trans);
    padding: 0.25rem;
}
.itemPrice {
    color: var(--color-matteblack);
}
.itemStatus {
    color: var(--color-deepwhite);
    background-color: var(--color-matteblack);
    padding: 0.25rem 0.75rem;
}
.carouselButtons {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--color-deepwhite);
    box-shadow: 0px 0px 10px var(--color-primary-shadow-dark);
    top: 40%;
}
.prevButton {
    left: 0;
}
.nextButton {
    right: 5%;
}
i {
    font-weight: 900;
}

/* ***** WOMENS GALLERY STYLES ***** */
.sportsBras {
    background-color: rgba(0, 84, 67, 0.5);
}
.leggingsButton {
    background-color: rgba(0, 0, 0, 0.5);
}
.forHer .sectionInfoOverlays {
    text-align: right;
    right: 0;
}
